<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="frmMain">
		<centered>1</centered>
		<size>763,450</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxListCtrl" name="ID_LISTCTRL1" variable="lstFiles" member="yes">
			<pos>184,208</pos>
			<size>520,450</size>
			<style>wxLC_REPORT</style>
			<handler function="OnlstFilesDeleteItem" entry="EVT_LIST_DELETE_ITEM" />
			<handler function="OnlstFilesClick" entry="EVT_LIST_ITEM_SELECTED" />
			<handler function="OnlstFilesClick" entry="EVT_LIST_ITEM_DESELECTED" />
			<handler function="OnlstFilesItemRClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
			<handler function="OnlstFilesClick" entry="EVT_LIST_INSERT_ITEM" />
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="yes">
			<object class="wxMenu" variable="Menu2" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM14" variable="MenuItem14" member="yes">
					<label>Add folder</label>
					<handler function="mnuAddDirectory" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="no">
					<label>Add files</label>
					<handler function="mnuAddFiles" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
					<label>Exit</label>
					<handler function="mnuExit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="no">
				<label>&amp;Edit</label>
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem3" member="no">
					<label>Remove files</label>
					<handler function="mnuRemoveFiles" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem4" member="no">
					<label>Clear list</label>
					<handler function="mnuClearList" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem6" member="no">
					<label>Settings</label>
					<handler function="mnuSettings" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="no">
				<label>&amp;Actions</label>
				<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem7" member="no">
					<label>Scan</label>
					<handler function="mnuScan" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM8" variable="MenuItem8" member="no">
					<label>Repair</label>
					<handler function="mnuFix" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu5" member="no">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="ID_MENUITEM10" variable="MenuItem12" member="yes">
					<label>MP3val website</label>
					<handler function="mnuToolWebsite" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM11" variable="MenuItem13" member="yes">
					<label>wxMP3val website</label>
					<handler function="mnuWebsite" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem9" member="no">
					<label>About</label>
					<handler function="mnuAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>2</fields>
			<widths>-10,-10</widths>
			<styles>wxSB_NORMAL,wxSB_NORMAL</styles>
			<style>wxST_SIZEGRIP</style>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar1" member="yes">
			<style>wxTB_FLAT|wxTB_HORIZONTAL|wxTB_TEXT|wxNO_BORDER</style>
			<object class="tool" name="ID_TOOLBARITEM8" variable="ToolBarItem1" member="yes">
				<label>Add folder</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuAddDirectory" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM1" variable="ToolBarItem2" member="yes">
				<label>Add files</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuAddFiles" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM2" variable="ToolBarItem3" member="yes">
				<label>Remove files</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuRemoveFiles" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM3" variable="ToolBarItem4" member="yes">
				<label>Clear list</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuClearList" entry="EVT_TOOL" />
			</object>
			<object class="separator" />
			<object class="tool" name="ID_TOOLBARITEM4" variable="ToolBarItem5" member="yes">
				<label>Scan</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuScan" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM5" variable="ToolBarItem6" member="yes">
				<label>Repair</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuFix" entry="EVT_TOOL" />
			</object>
			<object class="separator" />
			<object class="tool" name="ID_TOOLBARITEM6" variable="ToolBarItem7" member="yes">
				<label>Settings</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuSettings" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM7" variable="ToolBarItem8" member="yes">
				<label>About</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuAbout" entry="EVT_TOOL" />
			</object>
		</object>
		<object class="wxMenu" variable="Menu1" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM15" variable="MenuItem15" member="yes">
				<label>Add folder</label>
				<handler function="mnuAddDirectory" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem5" member="no">
				<label>Add files</label>
				<handler function="mnuAddFiles" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM12" variable="MenuItem10" member="no">
				<label>Remove files</label>
				<handler function="mnuRemoveFiles" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM13" variable="MenuItem11" member="no">
				<label>Clear list</label>
				<handler function="mnuClearList" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
