<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="frmSettings">
		<title>Settings</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL6" variable="Panel6" member="yes">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
										<label>MP3val executable</label>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txtToolExecutable" member="yes" />
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON5" variable="btnToolExecutable" member="yes">
												<label>...</label>
												<size>22,22</size>
												<handler function="OnbtnToolExecutableClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
										<label>Other options</label>
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX1" variable="chkKeepTimestamps" member="yes">
												<label>Keep file timestamps</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
											<border>2</border>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX2" variable="chkDeleteBackup" member="yes">
												<label>Delete bakup files</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
											<border>2</border>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
						</object>
						<label>General</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer10" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="btnDefault" member="yes">
							<label>Restore Defaults</label>
							<handler function="OnbtnDefaultClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="btnOK" member="yes">
							<label>OK</label>
							<handler function="OnbtnOKClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON4" variable="btnCancel" member="yes">
							<label>Cancel</label>
							<handler function="OnbtnCancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<style>wxFD_DEFAULT_STYLE|wxFD_OPEN</style>
		</object>
	</object>
</wxsmith>
