[Desktop Entry]
Encoding=UTF-8
Name=wxMP3val
Comment=Free front-end for the MP3val.
Exec=wxmp3val
Icon=wxmp3val
Categories=AudioVideo;Audio;
Terminal=false
Type=Application
Version=1.0
