[Desktop Entry]
Type=Application

Name=wxMP3val
Comment=A free front-end for the MP3val.
Icon=wxmp3val

Categories=AudioVideo;Audio;

Exec=wxmp3val
Terminal=false
